{% extends 'base.html.twig' %}

{% block title %} {{ 'contenuPanier.title'|trans }}{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary" href="{{ path('user_view', {'id': app.user.id}) }}">{{ 'retour'|trans }}</a>

    <h1 class="display-7">{{ 'contenuPanier.prdCommande'|trans }}</h1>

    {% for p in paniers %}
        <div class="card">
            <div class="card-header">
                {{ p.user.id}} / {{ p.id}}
            </div>
            <div class="card-body">
                {% for c in p.contenuPaniers %}
                    {{ c.produit }}
                    {{ c.quantite }}
                    <br>
                {% else %}
                    <div class="fst-italic">Ce n'est normalement pas possible</div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="fst-italic">Aucun panier actif</div>
    {% endfor %}

{% endblock %}
