{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.liste'|trans }}{% endblock %}

{% block body %}
    <h1 class="display-5">{{ 'produit.liste'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'produit.nom'|trans }}</th>
                <th>Description</th>
                <th>{{ 'produit.prix'|trans }}</th>
                <th>Stock</th>
                <th>{{ 'produit.photo'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td> 
                    {% if produit.photo is not null %}
                        <img src="{{ asset('/uploads/' ~ produit.photo) }}" alt="{{ produit.nom }}" style="max-width: 38px;">
                    {% else %}
                        <div class="fst-italic">{{ 'produit.noPhoto'|trans }}</div>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-outline-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">{{ 'produit.voir'|trans }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-warning" href="{{ path('produit_edit', {'id': produit.id}) }}">{{ 'produit.modifier'|trans }}</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'produit.noProduit'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}
    
    <a class="btn btn-outline-success" href="{{ path('produit_add') }}">{{ 'produit.creer'|trans }}</a>
{% endblock %}
